{% extends "layout.html" %}
{% block title %}Fitness Quest - About Us{% endblock %}
{% block page %}
   
{% endblock %}

{{ super() }}
{% block content %}
<h2 style="text-align:center;"><u>About Us</u></h2>
<p style="text-align:center;"> Fitness Quest aims to make your exercise experience as easy as possible.</p>
<p style="text-align:center;"> Our site is catered to beginners who are looking to better their lifestyle.</p>
<p style="text-align:center;"> At Fitness Quest we know that finding what works for you is hard,</p>
<p style="text-align:center;"> especially when you do not even know where to start or what you need.</p>
<p style="text-align:center;"> It's easy to get caught up on trends and every new fad when you are a beginner.</p>
<p style="text-align:center;"> Our solution is to give you a list of different exercise videos for you to try out.</p>
<p style="text-align:center;"> The key is to remain consistent, it does not matter if you finished the video or not.</p>
<p style="text-align:center;"> What is important is that, you remain focused, patience is important to maintain.</p>
<p style="text-align:center;"> To get where you want to go we at Fitness Quest believe slow and steady winds the game.</p>


{% endblock %}

